
# System files
.DS_Store
.idea
dump.rdb

# Cache and logs
var/cache/*
!var/cache/.gitkeep
var/logs/*
!var/logs/.gitkeep

# Managed by Composer
vendor/*
!vendor/.gitkeep

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
